<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common.html::head('采集设备编辑-传感器信息管理平台')}"></div>
<body>
<div class="layui-fluid" id="deviceeditdiv" th:if="${failMsgs} =='success'">
    <div class="layui-row">
        <form class="layui-form">

            <form class="layui-form" action="" style="padding: 20px" >
                 <div class="layui-form-item">
                       <label class="layui-form-label">当前设备:</label>
                        <div class="layui-input-block">
                              <input type="text" name="device_id" th:value="${deviceDeviceId}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" style="width: 200px" readonly="true">
                        </div>

                 </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px;margin-left: -20px;">当前数据更新时间:</label>
                    <div class="layui-input-block">
                        <input type="text" name="datetime" th:value="${dataTime}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" style="width: 200px" readonly="true">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">该设备参数:</label>
                    <br/>
                    <div class="layui-input-block">
                        <th:div style="display: flex;justify-content: space-between;margin-bottom:15px" th:each="dev:${deviceArg}" >

                            <input type="text" name="device_info" th:value="${#strings.arraySplit(dev,'_')[0]!=''?#strings.arraySplit(dev,'_')[0]:dev}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" readonly="true" style="width: 100px">
                            <input type="text" th:id="${'deviceTypeArg' + devStat.index + 1}"  th:value="${#lists.size(#strings.arraySplit(dev,'_'))==2?#strings.arraySplit(dev,'_')[1]:''}" lay-verify="required" placeholder="请输入参数值" autocomplete="off" class="layui-input"  style="width: 100px; margin-right: 200px">

               <!--                                <select th:id="${'deviceTypeArg' + devStat.index + 1}" lay-filter="deviceType" lay-search="" lay-verify="required" name="deviceType">-->

<!--                                    <div th:switch="${#lists.size(#strings.arraySplit(dev,'_'))==3}">-->
<!--                                        <option th:case="true" th:value="${#strings.arraySplit(dev,'_')[2]}" th:text="${#strings.arraySplit(dev,'_')[1]}"></option>-->
<!--                                        <option th:case="false" value="">请选择设备参数</option>-->

<!--                                        <span th:case="*">无此布尔值</span>-->
<!--                                    <div>-->
<!--                                    <option th:each="pro:${proDeviceArg.keySet()}"-->
<!--                                            th:text="${pro}"-->
<!--                                            th:value="${proDeviceArg.get(pro)}">-->
<!--                                    </option>-->
<!--                                </select>-->
                        </th:div>




                    </div>
                </div>

               <div class="layui-form-item">
                       <div class="layui-input-block">
                             <button type="submit" class="layui-btn" th:onclick="submitPro([[${deviceId}]])">立即提交</button>
                           <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                     </div>
                </form>
        </form>

    </div>
</div>

<div th:if="${failMsgs} =='该选择为主目录，请在子目录设置参数'" style="display: flex;justify-content: center;align-content: center">
    <h1 th:text="${failMsgs}"></h1>
</div>
</body>
<script src="/js/sms/datatable.js"></script>
</html>