<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common.html::head('修改密码-传感器信息管理平台')}"></div>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item" style="margin-top: 30px">
                <label class="layui-form-label" for="L_repass">
                    <span class="x-red">*</span>旧密码
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="O_pass" lay-verify="oldpass" name="oldpass"
                           required="" type="password">
                </div>
                <div class="layui-form-mid layui-word-aux">输入当前密码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_pass">
                    <span class="x-red">*</span>新密码
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="L_pass" lay-verify="pass" name="pass"
                           required="" type="password">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="L_repass" lay-verify="repass" name="repass"
                           required="" type="password">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">确认修改</button>
                <button class="layui-btn" onclick="window.location.href='/password'" style="margin-left: 20px">重置
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)',
            function (data) {
                // console.log(data);
                //发异步，把数据提交给php
                layer.alert("修改密码功能暂时关闭", {
                        icon: 2
                    },
                    // function () {
                    //关闭当前frame
                    // xadmin.close();

                    // 可以对父窗口进行刷新
                    // xadmin.father_reload();
                    // }
                );
                return false;
            });

    });</script>
</body>

</html>
