<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common.html::head('系统参数设置-传感器信息管理平台')}"></div>
<body onload="xadmin.page_loading()">
<div th:replace="~{common/common.html::x-nav('系统管理','系统参数设置')}"></div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>