<!DOCTYPE html>
<html class="x-admin-sm" lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common.html::head('用户采集设备-传感器信息管理平台')}"></div>
<body onload="xadmin.page_loading()">
<div th:replace="~{common/common.html::x-nav('设备管理','采集设备管理')}"></div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body search">
                    <div class="layui-form-item" style="margin-bottom: 0;padding-bottom: 0;padding-top: 10px">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="table_reload" placeholder="请输入搜索关键字"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: auto;">
                                <button class="layui-btn" data-type="reload" id="search"><i
                                        class="layui-icon layui-icon-search"></i>查询
                                </button>
                                <a class="layui-btn btnOption  layui-btn-small btnAdd" href="javascript:" id="add"
                                   onclick="bindDevice()"><i class="layui-icon layui-icon-add-1"></i>绑定设备</a>
                                <a class="layui-btn btnOption layui-btn-danger layui-btn-small btnBatchDrop"
                                   data-type="removeBindCheckData" href="javascript:" id="batchDrop"><i
                                        class="layui-icon layui-icon-unlink"></i>批量解绑</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table" id="LAY-userDevice-table"
                           lay-data="{height: 'full-200', cellMinWidth: 80, page: true, limit:30, url:'/device/table'}">
                        <thead>
                        <tr>
                            <th lay-data="{type:'checkbox', fixed: 'left'}">ID</th>
                            <th lay-data="{field:'id', minWidth:50,sort: true, fixed: 'left'}">ID</th>
                            <th lay-data="{field:'dtuDtuId', minWidth:150, sort: true}">DTU序列号</th>
                            <th lay-data="{field:'deviceId', minWidth:100}">设备库编号</th>
                            <th lay-data="{field:'deviceDeviceId', minWidth:100}">设备ID</th>
<!--                            <th lay-data="{field:'numberOfChannels', minWidth:100}">通道数量</th>-->
<!--                            <th lay-data="{field:'deviceType', minWidth:100}">设备类型</th>-->
                            <th lay-data="{field:'bindTime', minWidth:150}">绑定时间</th>
                            <th lay-data="{field:'remark', minWidth:100}">设备系统备注</th>
                            <th lay-data="{minWidth:100,fixed: 'right',templet: '<div><button type='button' class='layui-btn layui-btn-danger' style='height: 22px;line-height: 22px;' onclick='removeBind([{{d.id}}])'>解除绑定</button></div>'}">
                                操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/sms/userDevice.js"></script>
</html>