<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szkj.sms.mapper.SensorMapper">

    <resultMap id="BaseResultMap" type="com.szkj.sms.entity.Sensor">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="dtuId" column="DTU_id" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
        <result property="numberOfChannels" column="number_of_channels" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,DTU_id,device_id,
        number_of_channels,user_id
    </sql>
</mapper>
